flask==3.0.0
numpy>=1.26.0
opencv-python==4.8.1.78
ultralytics==8.1.0
Pillow>=11.0.0
PyYAML>=6.1
requests>=2.31.0
scipy>=1.12.0
tqdm>=4.66.0
filterpy>=1.4.5
scikit-image>=0.23.0
torch>=2.1.2
torchvision>=0.16.2
cvzone>=1.6.0
